<main>

<%= form_with url: search_books_path, method: :get, local: true, data: { turbo: false } do |f| %>
  <div style="display: grid; grid-template-columns: 1fr 1fr auto; gap: 0.5rem;">
    <%= f.text_field :title_query, value: params[:title_query], placeholder: "Title..." %>
    <%= f.text_field :author_query, value: params[:author_query], placeholder: "Author..." %>
    <%= f.submit "Search", onclick: "this.value='Searching...'; this.disabled=true; this.form.submit();" %>
  </div>
<% end %>

  <!-- Results -->
  <% if @books.any? %>
    <div class="table-wrapper" style="width: 100%;" data-controller="table" data-table-target="wrapper">
      <table data-table-target="table" style="width: 100%;">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Series</th>
            <th>Interest</th>
            <th>Level</th>
            <th>Points</th>
            <th>Word Count</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
               <td><%= book.series %></td>
              <td data-tooltip="<%= case book.interest_level
                # UK codes
                when 'LY' then 'Lower Years: Ages 5-8'
                when 'MY' then 'Middle Years: Ages 9-11'
                when 'MY+' then 'Middle Years Plus: Ages 12-13'
                when 'UY' then 'Upper Years: Ages 14+'
                # US codes
                when 'LG' then 'Lower Grades: Ages 5-8'
                when 'MG' then 'Middle Grades: Ages 9-11'
                when 'MG+' then 'Middle Grades Plus: Ages 12-13'
                when 'UG' then 'Upper Grades: Ages 14+'
                else 'Unknown Interest Level'
                end %>">
              <%= book.interest_level %>
              <td><%= book.atos_book_level %></td>
              <td><%= book.ar_points %></td>
              <td><%= book.word_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% elsif params[:query].present? || params[:photos].present? %>
    <p>No matches found</p>
  <% end %>
  
  <hr>

  <!-- ISBN Photo Search -->
<%= form_with url: search_books_path, method: :get, multipart: true, data: { 
  controller: "photo-upload",
  photo_upload_url_value: search_books_path,
  turbo: false 
} do |f| %>
  <div style="display: grid; grid-template-columns: 1fr auto">
    <%= f.file_field :photos, 
        multiple: true,
        accept: 'image/*', 
        style: "display: none;", 
        data: { 
          photo_upload_target: "fileInput",
          action: "change->photo-upload#handleFileChange"
        } %>
    <%= f.submit "Scan Barcode(s)", 
        data: { 
          photo_upload_target: "submitButton",
          action: "click->photo-upload#promptFileSelection"
        },
        onclick: "return false;" %>
  </div>
<% end %>
</main>